*{
	
	color:white;
	display:border-box;
	font-family:'helvetica';
}

body{
	background: url('starktower.jpg');

/*	background-repeat: no-repeat;*/

}

#container{
	background: rgba(0,0,0,0.7);
	margin: 0px auto;
	max-width: 960px;
}


#interface {
	display:flex;	
	justify-content: space-between;
	font-size: 1.25em;
}

#interface button{
	background:#22ccdd;
	border: 2px solid darkorange;
	border-radius:5px;
}

#interface button:hover{
	background:#0044bb;

}

#interface button:active{
	border:2px solid black;
}

.option:hover{
	background:#0044bb;
}

.option:active{
	border: 2px solid black;
}

#start {
	
	margin-left:auto;
	margin-right:1em;
}

.answers{
	display:flex;
	justify-content: space-between;
	font-size:2em;
	align-items: center;
	align-content: center;
}

.option{
	display:flex;
	display:inline-block;
	border:2px solid darkorange;
	background:#22ccdd;
	padding:10px;
	flex-basis: 200px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:0.5em;
	height:200px;
}

.option.correct-answer{
	border-color: green;


}


.option.wrong-answer{
	border-color: red;


}
.question{
	color:#ffffff;
}

button.disable{
	display:none;
}